body {
  font-size: medium;
  background-color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}

#header {
  display: flex;
  justify-content: space-between;
}

#cards{
  width: auto;
  height: 100%;
  object-fit: scale-down;
  gap: 5;
}

#screen{
  border-color:lightgrey;
  width: 80vw;
  height: 60vh;
}

#userInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
}

#welcomePage {
  display: flex;
  flex-direction: column;
}

#LRBox {
  background-color: lightgrey;
}

#gameBox {
  margin-top: 5vh;
  background-color: #faaa98;
  width: 90vw;
}

#blackJackBox {
  height: 35%;
  width: 100%;
}

.buttons{
  width: 70px;
  height: 35px;
  margin-top: 5px;
}

.centerJustified {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.columnFlex {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.halfHeight {
  height: 50vh;
}

.highPadding {
  padding: 15px;
}

.topGap {
  margin-top: 15px;
}

.images {
  height: 25vh;
  width: 30vh;
}

.inputBox {
  width: 300px;
  height: 20px;
}

.lineBreaks {
  white-space: pre-line;
}

.rightJustified {
  margin-left: auto;
}

.rowFlex {
  display: flex;
  gap: 5px;
}

.solidBorder {
  border: 2px;
  border-style: solid;
  padding: 5px;
}




